!!! XML
!!!
%html{:lang => "en"}
  %head
    %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no"}
      :css
        html{
          height:100%;
        }
        body{
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #map-canvas{
          height: 100%;
        }
      %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyD3AGyItogf6M4YJzUNnJHDeTjwFoMVHT4&sensor=true", :type => "text/javascript"}
      = javascript_include_tag "/javascripts/map.js"
      
  %body
    %br
    %br
    
    %div#map-canvas	
    :javascript 
      var locations = #{@locations};
      var tracing = #{@tracing};
      if(tracing){
        trace_map(locations);
      }
      else{
        initialize(locations);
      }
