!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            %link{:href => "../../assets/ico/favicon.png", :rel => "shortcut icon"}
              %title BAMRU Location Tracker
              / Latest compiled and minified CSS
              %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}
                / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
                /[if lt IE 9]
                  <script src="../../assets/js/html5shiv.js"></script>
                  <script src="../../assets/js/respond.min.js"></script>
  %body
    = render 'home/topbar'




Bootstrap core JavaScript
\==================================================
/ Placed at the end of the document so the pages load faster
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
/ Latest compiled and minified JavaScript
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
      
