#location_table {
	width: 600px;	
}

td {
	width: 200px;
}

th {
	width: 200px;
}

button {
	height: 300px;
	width: 300px;
	background-color: #4444cc;
	border-radius: 20px;
	color: #ffffff;
	font-size: 30px;
}