-#  This file is app/views/members/index.html.haml

%h1 Member to Member Query

%table#members
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Send To
  %tbody
    - @members.each do |member|
      %tr
        %td= member.name
        %td= member.email
        %td= member.role
        %td = check_box_tag 
    = submit_tag 'Where Are You', :id => 'member_to_member_query_sent'
