%link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}

= render 'members/topbar'

%br
%br
%h1 Successfully Sent

%b The following people received location requests via email:
%table.table.table-condensed#members
 %thead
  %tr
   %th Name
   %th Email
   %th Role
 %tbody
  - @members.each do |member|
   %tr
    %td= member.name
    %td= member.email
    %td= member.role
